<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>
        <span  th:text="${msg}" />
    </h1>

    <p th:text="${estado}" />

    <p th:text="${productos}" />

    <table class="table" border="1" >
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${productos}">
                <td th:text="${item.id}"/>
                <td th:text="${item.nombre}"/>
                <td th:text="${item.descripcion}"/>
                <td th:text="${item.precio}"/>
            </tr>
        </tbody>
    </table>


</body>
</html>